<h1>Editing paymethod</h1>

<%= render "form", paymethod: @paymethod %>

<br>

<div>
  <%= link_to "Show this paymethod", @paymethod %> |
  <%= link_to "Back to paymethods", paymethods_path %>
</div>
